@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    adding : 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor:pointer;
    
}
.my-1{
    margin: 10px 0;

}
.my-1{
    margin: 10px 0;
.text-center{
    text-align: center;
}